.site-header {
    border-bottom: 1px solid;
    .header-content {
         @include outer-container();
         width: 100%;
        .site-branding {
            .site-title {
                @include margin(0 null);
                a {
                    @include margin(0);
                    @include padding(0);
                    display: block;
                    font-weight: $font__bold;
                }
            }
            .site-description {
                @include margin(0);
                @include padding(0);
                font-weight: $font__light;
            }
            .custom-logo {
                @include margin(0);
                @include padding(0);
            }        
        }
    }
}
